#
# Inspired from https://github.com/github/gitignore
#

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OS
._*
*~
*.DS_Store
.Trashes
.Trash-*

# Logs
*.log

# Tarball
*.tgz
*.tar.gz
*.zip
*.deb

# SimTaDyn specifics
build/*
cov-int
tests/build/*
src/common/graphics/OpenGL/examples/build/*
src/core/standalone/ClassicSpreadSheet/build/*
src/forth/standalone/build/*
external/zipper
external/SOIL
external/CmdParser
external/backward-cpp
external/imgui
doc/html/*
doc/coverage/*
src/common/graphics/OpenGL/examples/textures
foo
_*

# Debian packages
doc-pak
description-pak
