#
# Inspired from https://github.com/github/gitignore
#

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OS
._*
*~
*.DS_Store
.Trashes
.Trash-*

# Logs
*.log

# Tarball
*.tgz
*.tar.gz
*.zip
*.deb

# SimTaDyn specifics
cov-int
build/*
tests/build/*
external/zipper
external/SOIL
external/CmdParser
external/backward-cpp
external/imgui
external/SimForth
external/Exception
external/MyLogger
external/OpenGLCppWrapper
external/TerminalColor
external/.downloaded
doc/html/*
doc/coverage/*
foo
_*

# Emacs
*_flymake.cpp

# Debian packages
doc-pak
description-pak
